@import "../node_modules/bulma/bulma.sass"

.fixed-nav-padding
  //padding-top: 3.25rem
  padding-top: 6.5rem // double the nav bar size

.dark-background
  background-color: rgb(10, 25, 47)

.primary-font-color
  color: #FFE300

.secondary-font-color
  color: rgb(230, 241, 255)

.dull-font-color
  color: rgb(138, 146, 173  )

.code-font
  font-size: 14px
  font-family: Monaco, monospace

.format-text
  white-space: pre-wrap

.centered-text
  text-align: center
