@import "../node_modules/bulma/bulma.sass"

$primary: #FFE300
$bright: rgb(230, 241, 255)
$dull: rgb(138, 146, 173)

@mixin mobile
  @media(max-width: 600px)
    @content

@mixin small-screen
  @media (max-width: 62.5rem)
    @content

@mixin large-screen
  @media (min-width: 62.55rem)
    @content

.is-horizontal-center
  justify-content: center
//.is-vertical-center


.fixed-nav-padding
  //padding-top: 3.25rem
  padding-top: 6.5rem
// double the nav bar size

.dark-background
  background-color: rgb(10, 25, 47)
//background-color: #535454 // this is from Adobe

.primary-font-color
  color: $primary

.bright-font-color
  color: $bright

.dull-font-color
  color: $dull

.underline
  text-decoration: underline
  text-decoration-color: $primary

.code-font
  font-size: 14px
  font-family: Monaco, monospace

.format-text
  white-space: pre-wrap

.centered-text
  text-align: center

.button-wrapper
  padding: 3rem 0 3rem 0

.styled-button
  height: 3.5rem
  line-height: 3.5rem
  width: 8rem
  border: 1px solid #FFE300
  color: #FFE300
  border-radius: 3px
  text-align: center
  vertical-align: middle
  cursor: pointer
  transition: 0.5s

  &:hover
    background-color: rgb(22, 41, 58)


.title-text
  font-weight: bold
  @include large-screen
    font-size: 4.5rem
  @include small-screen
    font-size: 3rem

.default-text
  font-size: 1rem

.first-section
  height: calc(100vh - 3.25rem)
  @media (min-height: 550px)
    .container
      position: relative
      top: 50%
      transform: translateY(-50%)

.divider
  overflow: hidden

  .equals
    white-space: nowrap
    overflow: hidden
    text-overflow: clip
    text-align: left
    @include large-screen
      width: 42%
    @include small-screen
      width: 40%
    @include mobile
      width: 35%





  .first
    float: left

  .second
    float: left
    overflow: hidden

  .third
    overflow: hidden

.tech-title
  padding: 0.5rem
  font-size: 1.25rem

a
  text-decoration: none
  color: inherit
.tech-list
  .tech-item
    text-decoration: none
    padding-left: 0.5rem
    transition: 0.5s
    cursor: pointer
    &:hover
      color: $bright


.side-by-side-container
  overflow: hidden
  .side-by-side-item-1
    float: left
  .side-by-side-item-2
    float: left
    overflow: hidden
  .side-by-side-item-3
    overflow: hidden

.tech-column
  min-width: 12rem
